<legend>Login Form</legend> <span ng-bind="status"></span>
<div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username"> </div>
<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password"> </div>
<button type="button" class="btn btn-primary" ng-click="register()">Register</button>